nav{
    height: 80px;
}
.nav-item{
    font-size: 25px;
    font-weight: normal;
}
#Welcome{
    font-size: 35px;
}
#text{
    font-size: 30px;
    /* color:#3498db; */
}
.welcome-box{
    border-block: none;    
}

#aboutUs{
    font-size:20px;
}
.about .row{
    border: 0 solid #3498db;
}
h5 {
    margin:80px auto;
    width:20vw;
    text-align:center;
    font-family: helvetica;
    font-size:30px;
  }
.footer{
    background-color:  #1a5276;
    min-height: 200px;
    color: white;
}
button{
    margin-left:40px;
}