
  @media ( max-width: 670px) {
    .fa-facebook{
        display: block;
        
    }
    .options{
        display: none;
    }
    .text{
        font-size: 15px;
    }
  }
.fa-caret-right{
    display: none;
}

nav{
    height: 80px;
}
.nav-item{
    font-size: 25px;
    font-weight: normal;
}
#Welcome{
    font-size: 35px;
}
#text{
    font-size: 30px;
}
.welcome-box{
    border-block: none;    
}

#aboutUs{
    font-size:20px;
}

h5 {
    margin:50px auto;
    width:20vw;
    text-align:center;
    font-family: helvetica;
    font-size:30px;
  }
.footer{
    background-color:  #1a5276;
    min-height: 200px;
    color: white;
}
button{
    margin-left:40px;
}

.words{
    box-shadow: 2px 2px gainsboro;
    font-size: 20px;
    width:400px;
    height: 200px;
}